<div class="legalForm--container">
  <div class="legalForm--headline">
    {{this.headline}}
  </div>
  <div class="legalForm--commercial--register">
    <span class="register--title">{{this.registerTitle}}</span><br />
    <span class="register">{{this.registerForm}}</span>
  </div>
  <div class="legalForm--vat--identification--number">
    <span class="vat--title">{{this.vatTitle}}</span><br />
    <span class="vat">{{this.vatForm}}</span>
  </div>
  <div class="legalForm--tax">
    <span class="tax--title">{{this.taxTitle}}</span><br />
    <span class="tax">{{this.tax}}</span>
  </div>
  <div class="legalForm--law">
    <span class="law--title">{{this.lawTitle}}</span><br />
    <span class="law">{{this.lawName}}</span>
  </div>
</div>