<h1>
  {{title}}
</h1>
<partingline orientation="horizontal"></partingline>
<div id="components">
  <h2>Components</h2>
  <div>
    <headline id="mario" size="1" title="It's a me Mario"></headline>
    <image source="./../assets/images/super-mario.png" filter="opacity" filterDimension="50%" usemap="test"></image>
    <image source="./../assets/images/super-mario.png" filter="grayscale" filterDimension="100%"></image>
  </div>
  <partingline orientation="horizontal"></partingline>
  <div>
    <h3>Forms</h3>
    <contact-form firstName="test" lastName="test" street="teststraße" streetNumber="24" postalcode="11111" place="test"></contact-form>
  </div>
  <partingline orientation="horizontal"></partingline>
  <div>
    <h3>Date and Time</h3>
    <countdown-timer date="2019-12-31" time="12:00:00"></countdown-timer>
  </div>
  <partingline orientation="horizontal"></partingline>
  <div>
    <qrcode width="240" height="240" data="https://google.de" encoding="UTF-8" correction="L"></qrcode>
  </div>
  <partingline orientation="horizontal"></partingline>
  <div>
    <accordion id="a1" headline="first">Hello</accordion>
    <accordion id="a2" headline="second">Hello</accordion>
  </div>
  <partingline orientation="horizontal"></partingline>
  <skillbar text="Web Development" width="95" bgcolor="#41a441"></skillbar>
</div>
<partingline orientation="horizontal"></partingline>
<div id="filter">
  <h2>Filter</h2>
  <input [(ngModel)]="searchtext" />
  <p>{{search}}</p>
  <sorting-list>
    <li *ngFor="let character of persons | search: searchtext">
      {{character}}
    </li>
  </sorting-list>
</div>
<partingline orientation="horizontal"></partingline>
<div id="services">
  <h2>Services</h2>
  <p>Test: {{sum}}</p>
</div>
<!-- <scrolltoelement element="mario" timer="1000"></scrolltoelement> -->
<!-- <scrolltotop></scrolltotop> -->