<h1>
  {{title}}
</h1>
<div id="components">
  <h2>Components</h2>
  <div>
    <image source="./../assets/images/super-mario.png" filter="opacity" filterDimension="50%" usemap="test"></image>
    <image source="./../assets/images/super-mario.png" filter="grayscale" filterDimension="100%"></image>
  </div>
  <partingline orientation="horizontal"></partingline>
  <headline id="New Mario" size="1" title="It's a me Mario"></headline>
  <link-container url="https://google.de" name="Google">google</link-container>
</div>
<div id="filter">
  <h2>Filter</h2>
  <input [(ngModel)]="searchtext" />
  <p>{{search}}</p>
  <sorting-list>
    <li *ngFor="let character of persons | search: searchtext">
      {{character}}
    </li>
  </sorting-list>
</div>
<div id="services">
  <h2>Services</h2>
  <p>Test: {{sum}}</p>
</div>
